@page
@using System.Text.Json;
@model CocktailsModel


@{
    ViewData["Title"] = "Cocktails Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cocktail Menu</h1>
    <p>Review the cocktails menu</a>.</p>
    <p>@Model.dog</a>.</p>
</div>

<style>
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 25px;
}
</style>

<table>         
    <thead>
        <tr>
        <th>Name</th> <th>Price</th> <th>Rating</th> <th>Id</th>
        </tr>
    </thead>
    <tbody>
        @{          
            @foreach (var record in @Model.pageCocktailList)
            {               
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => record.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => record.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => record.Rating)
                </td>
                <td>        
                    <a asp-page="/EditCocktail" asp-route-id=@record.Id>@Html.DisplayFor(modelItem => record.Id)</a>
                    @* <a asp-page="/EditCocktail" asp-all-route-data="dictCocktail">@Html.DisplayFor(modelItem => record.Id)</a> *@
                    
                </td>
            </tr>                    
            }
        }
    </tbody>    
</table>
